<ion-view view-title="Social Chat">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider" align="center" >Actividades Recientes</div>
      <div class="item item-body">
       
        <div>
          Tienes <b>10 </b> Notificaciones. <br> 
           Tienes <b>2 </b> Chats pendientes. <br>
            Tienes <b>5 </b> Solicitudes de amistad .
           
          
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider" align="center">Salud</div>
      <div class="item item-body">
        <div>
          Come una manzana! <br>
            Haz ejercicio 30 minutos al dia!  
          
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider" align="center">Notificaciones</div>
      <div class="item item-body">
       <div>
           <b>Janeth Valadez</b> Comento tu foto.<br>
           <b>Alee Blanco</b> Le gusta tu foto.<br>
            <b>Liliana Eli</b> Te dio un toque.
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
